nav {
    display: flex;
    align-items: center;
    ul{
        display: flex;
        li{
            list-style-type: none;
            padding: 0 40px;
            a{
                text-decoration: none;
                color: $standblack;
            }
        }
    }
}