/*base*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
/*Header*/
nav{
    width: 100vw;
}
ul{
    list-style-type: none;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 10vh;
}
ul li{
    flex-shrink: 0;
}
a {
    text-decoration: none;
    color: white;
    font-family: montserrat;
    font-weight: 800;
    font-size: 19px;
}
/*Img ir logo viskas*/
.logo{
    height: 55px;
    border: 2px solid white;
    border-radius: 25px;
    padding: 6px;
}
li img{
    height: 100%;
}

/*Main*/
.main-body{
    display: flex;
    position: relative;
    width: 100vw;
    height: 85vh;
}
.inner-body{
    background-color: rgb(0, 0, 0);
    height: 85%;
    width: 75%;
    position: absolute;
    top: 55px;
    left: 240px;
    color: white;
    text-align: center;
}
/*Main Heading ir paragraph*/
.inner-body h1{
    padding-top: 20px;
    font-family: montserrat;
    font-size: 64px;
    font-weight: 800;
    color: #FD7D54;
    letter-spacing: 15px;
    margin-bottom: 0;

}
.inner-body p{
    font-family: montserrat;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}
/*Boxes*/
.divbox{
    background-color: black;
    width: 1 flex;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 65px;
}
.box1,
.box2,
.box3{
    display: absolute;
    background-color: black;
    width: 20%;
    height: 120%;
    border: 4px solid white;
}
.divbox{
    position: relative;
}
/*Box(nr)div*/
/*box1*/
.box1{
    display: block;
}
.box1div{
    position: relative;
    display: flex;
    height: 40%;
    width: 100%;
}
.box1ball{
    background-color: #c90a47;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 25px;
    left: 85px;
    border-radius: 100px;
    box-shadow: inset -4px 1px 5px rgb(163, 163, 163), inset 10px 0 20px rgb(0, 0, 0);

}
.box1text{
    font-family: montserrat;
    height: 100%;
    width: 100%;
}
.box1text h3{
    font-size: 27px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 0;
    letter-spacing: 3px;
}
.box1text p{
    padding-top: 0;
}
.box1text p:nth-child(2){
    padding-top: 0;
    font-size: 18px;
    width: 90%;
    padding-left: 20px;
    line-height: 25px;
}
#explore1{
    padding-top: 25px;
}
p a{
    color: #41c3f6;
}
/*box2*/
.box2div{
    position: relative;
    display: block;
    height: 40%;
    width: 100%;
}
.box2ball{
    background-color: #c90a47;
    width: 120px;
    height: 120px;
    position: relative;
    top: 25px;
    left: 85px;
    border-radius: 100px;
    box-shadow: inset -4px 1px 5px rgb(163, 163, 163), inset 10px 0 20px rgb(0, 0, 0);
}
.box2text{
    font-family: montserrat;
    height: 100%;
    width: 100%;
}
.box2text h3{
    font-size: 27px;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 0;
    letter-spacing: 3px;
}
.box2text p{
    padding-top: 0;
}
.box2text p:nth-child(2){
    padding-top: 0;
    font-size: 18px;
    width: 90%;
    padding-left: 20px;
    line-height: 25px;
}
#explore2{
    padding-top: 20px;
}
p a{
    color: #41c3f6;
}
.firststar{
    font-size: 35px;
    position: absolute;
    top: 10px;
    right: 20px;
}
.secondstar{
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 30px
}
/*box3*/
.box3div{
    position: relative;
    display: block;
    height: 40%;
    width: 100%;
}
.box3ball{
    background-color: #c90a47;
    width: 120px;
    height: 120px;
    position: relative;
    top: 25px;
    left: 85px;
    border-radius: 100px;
    box-shadow: inset -4px 1px 5px rgb(163, 163, 163), inset 10px 0 20px rgb(0, 0, 0);
}
.box3text{
    font-family: montserrat;
    height: 100%;
    width: 100%;
}
.box3text h3{
    font-size: 27px;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 0;
    letter-spacing: 3px;
}
.box3text p{
    padding-top: 0;
}
.box3text p:nth-child(2){
    padding-top: 0;
    font-size: 18px;
    width: 90%;
    padding-left: 20px;
    line-height: 25px;
}
#explore3{
    padding-top: 20px;
}
p a{
    color: #41c3f6;
}
.firststar{
    font-size: 35px;
    position: absolute;
    top: 10px;
    right: 20px;
}
.secondstar{
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 30px
}
.thirdstar{
    position: absolute;
    top: 80px;
    right: 25px;
}
.fourthstar{
    position: absolute;
    top: 10px;
    right: 38px;
}
/*Main background img*/
img{
    width: 100%;
    height: 100%;
}

/*footer*/
footer {
    background-color: black;
    height: 5vh;
    width: 100vw;
    color: white;
    font-family: montserrat;
    font-weight: 700;
    font-size: 12px;

}
footer p{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}