#app {
    text-align: center;
    width: 300px;
    background: linear-gradient(135deg, #ff7e5f, #feb47b, #86a8e7, #91eae4); 
    height: 300px;
    width: 250px;
    margin-top: 50px;
    border-radius: 25px;
}
