.cta-section {
  display: flex;
  gap: 20px;
  width: 75%;
  height: 400px;
  background-color: #046E1B;
  border-radius: 25px;
  color: white;
  min-width: 1200px;

  .add-buttons {
      display: flex;
      gap: 20px;
      margin-top: 50px;

      .left-download-first {
          font-size: 10px;
      }

      .left-download-second {
          font-size: 20px;
      }

      .right-get {
          font-size: 10px;
      }

      .right-google {
          font-size: 20px;
      }
  }

  .add-btn {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 200px;
      height: 60px;
      padding: 0 20px;
      border-radius: 10px;
      background-color: $orange;
      border: none;
      color: $white;
      cursor: pointer;

      div {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }

      p {
          margin: 0;
          font-size: 14px;
          line-height: 1.2;
          text-align: left;
      }

      .apple-logo,
      .store-logo {
          width: 25px;
          height: 25px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
      }

      .apple-logo {
          background-image: url('img/Apple logo.png');
      }

      .store-logo {
          background-image: url('img/store logo.png');
      }
  }

  .add-div {
      margin-top: 50px;
      margin-left: 50px;

      h1 {
          font-size: 46px;
          font-weight: 600;
          width: 800px;
          z-index: 2;
      }
  }

  .image-box {
      position: relative;
      width: 500px;
      height: 400px;
      min-width: 300px;
  }

  .image-placeholder {
      z-index: 1;
      position: absolute;
      bottom: -40px;
      right: 50px;
      background-image: url('img/phones.png');
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      width: 400px;
      height: 400px;
  }
}

@media (max-width: 768px) {
  .cta-section {
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 450px;
      width: 200px;
      min-width: auto;

      .add-div {
          margin-left: 0;

          h1 {
              font-size: 28px;
              width: 100%;
          }
      }

      .add-buttons {
          flex-direction: column;
          gap: 15px;
          width: 100%;
          margin-top: 0;
      }
      .add-btn{
        margin-top: 10px;
        width: 100%;
        justify-content: center;
      }
      .image-box {
          position: relative;
          width: 300px;
          height: 300px;
      }

      .image-placeholder {
          width: 100%;
          height: auto;
          position: relative;
          bottom: 0;
          right: 0;
      }
  }
}